extends inc/layout

block content


  .colors
    .cyan.definery
      .background.definery.on
      .background.iterate.off
      .background.navigate.off
      .background.product.off
    .bgcolor.definery
    .svg.star.all.star_definery.on
      include ../pub/svg/tween.svg
  .blend-multiply
    .video#video
      video(loop,muted,autoplay,poster="/img/poster.jpg")
        source(src="/vid/fog.mp4")
    .blend-screen
      .svg.all.star.star_definery.on
        include ../pub/svg/tween.svg

  .border.vert.top.definery
  .border.horiz.left.definery
  .border.vert.bottom.definery
  .border.horiz.right.definery

  .content.definery.on
    .inner
      //.top
        .nav.nav_definery.nav_to_product(data-dir="up",data-from="definery",data-to="product") the result
      .logo
        include ../pub/svg/logo.svg
      .pronounce /dəˈfīn(ə)rē/
      .define 1.  a digital product design and innovation company that transforms great ideas into amazing experiences that people want.
      .tapspace
      .bottom
        .nav.nav_definery.nav_to_iterate(data-dir="up",data-from="definery",data-to="iterate")
          .arrow.down
            include ../pub/svg/arrow.svg

  .content.iterate.off
    .inner
      .top
        .nav.nav_iterate HOW WE WORK /
      .title Accelerate, iterate, advance.
      .copy We walk the line between thinking and making. It’s our mission to help you answer difficult questions, test solutions and build better products with real users in mind.
      .tapspace
      .bottom
        .nav.nav_iterate.nav_to_navigate(data-dir="up",data-from="iterate",data-to="navigate")
          .arrow.down
            include ../pub/svg/arrow.svg

          //.copy how we collaborate

  .content.navigate.off
    .inner
      .top
        .nav.nav_navigate.nav_to_iterate HOW WE COLLABORATE /
      .title Great products come from great teams.
      .copy We pride ourselves in our expertise but know that the best solutions are the result of collaboration. We don't just partner, we form alliances that enable everyone to do their best work.
      .tapspace
      .bottom
        .nav.nav_navigate.nav_to_product(data-dir="up",data-from="navigate",data-to="product")
          .arrow.down
            include ../pub/svg/arrow.svg

  .content.product.off
    .inner
      .top
        .nav.nav_product.nav_to_navigate THE RESULT /
      .title Winning products aren't just beautiful, they're a pleasure to use.
      .copy We look at the full picture, championing user needs above all. Through our rapid design and prototyping process, getting to a proof of concept has never been easier.
      .tapspace
      .bottom.bcta
        .nav.nav_product.prod_contact_cta
          .copy get in touch

  .section.contact.off

    .logo: include ../pub/svg/star.svg
    .topbar

    .inner
      .top
        .label contact /
        .copy We'd love to hear about your project. Connect with us <a href="mailto:hello@definery.io">hello@definery.io</a>
      .bottom
        .visit
          .label visit /
          a.icon(target='_new',href=data.meta.address)
            include ../pub/svg/pin.svg
          a.address(target='_new',href=data.meta.address)
            .copy 1740 telegrpah ave.
            .copy oakland, ca 94612
        .social
          .label social /
          a.icon(target='_new',href=data.meta.social.facebook)
            include ../pub/svg/social/facebook.svg
          a.icon(target='_new',href=data.meta.social.instagram)
            include ../pub/svg/social/instagram.svg
          a.icon(target='_new',href=data.meta.social.linkedin)
            include ../pub/svg/social/linkedin.svg
          .clear

  .section.services.off
    .logo: include ../pub/svg/star.svg
    .topbar
    .inner
      .top
        .label services /
        .copy We are a creative studio focused on digital product creation and innovation.
      .bottom
        .servicelist
          .label strategy /
          .item User Research
          .item Product Vision
          .item Experience Strategy
          .item Experience Mapping
          .item Concept Validation

        .servicelist
          .label design /
          .item User Experience Design
          .item Interaction Design
          .item Solution Architecture
          .item Process and Service Design
          .item Visual Identity
          .item User Interface Systems
          .item Motion and Interaction

        .servicelist
          .label execution /
          .item Rapid Proototyping
          .item Working Proofs of Concept
          .item Pilot Teams
          .item Consulting

  .section.work.off
    .logo: include ../pub/svg/star.svg
    .topbar
    .inner
      .top 
        .label work /
        .copy We may be a brand new company but we are no strangers to the industry.
        .subcopy Our team has a history working with companies and startups of all shapes and sizes.
      .bottom
        .companys
          each company in data.company
            .company
              img(src='/img/company/' + company + '.png')
          .clear
 
  .swiper.right.off
  .swiper.left.off

  .menu.on
    .option.contact_cta.option_contact.off(data-option='contact',data-num=4) contact
    .option.option_services.off(data-option='services',data-num=3) services
    .option.option_work.off(data-option='work',data-num=2) work
    .option.option_about.on(data-option='about',data-num=1) about

  .dots
    .dot.dot_definery.on(data-sect="definery",data-num=0): .inner
    .dot.dot_iterate.off(data-sect="iterate",data-num=1): .inner
    .dot.dot_navigate.off(data-sect="navigate",data-num=2): .inner
    .dot.dot_product.off(data-sect="product",data-num=3): .inner

  .debug 

  script(type='text/javascript').
    Loader.load('/jst/detect.js', 'Detect', function() {
      Loader.load('/jst/index.js', 'Index');
    });
